<div class="event">
  <div class="content">
    {{#if player-event.character_name}}
      <h1 class="character-name">{{player-event.character_name}}</h1>
    {{/if}}
    <p class="detail">{{player-event.detail}}</p>
    <p class="dialogue">{{player-event.dialogue}}</p>

    {{#if player-event.actionable }}
      <div class="actions">
        {{#each player_action in player-event.actions}}
          <button class="action" {{action "click" player_action}}>
            {{player_action.label}}
          </button>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>