<div id="player">

  <div class="navigation">
    {{game-nav}}
  </div>

  <div class="location-banner">
    <div class="location-name">
      <h1>{{attr.player.current_location.name}}</h1>
    </div>
  </div>

  <div class="game-interface">
    <div class="player-details">
      <div class="inner">
        {{player-card player=attr.player}}
      </div>
    </div>
    <div class="event-stream">
      {{#each player-event in attr.player.events}}
        {{player-event player-event=player-event}}
      {{/each}}
    </div>
    <div class="misc-panels">
      {{user-form action="createUser" user=attr.player.user}}
    </div>
  </div>
</div>
